<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/socket.io/socket.io.js"></script> <!--This path is served automatically by socket.io-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!--JQuery-->
    <script src="/static/js/script.js"></script>
  </head>
  <body>
    <ul id="messages"></ul>
    <form>
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </body>
</html>